<!doctype html>
<html lang="en">
  <head>
      <title>Iniciar Sesion</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/PagInicioSesion/nuevo1.css">

      <link href="/BT/bootstrap-5.1.0-dist/css/bootstrap.min.css" rel="stylesheet">

      

  </head>
    <body class="img js-fullheight" style="background-image:url(/static/img/redd-9o8YdYGTT64-unsplash.jpg)">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Campus Virtual</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Acceso</h3>
                        <form action="#" class="signin-form">
                          <div class="form-group">
                              <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico" required>
                          </div>
                        <div class="form-group">
                          <input id="password-field" type="password" name="password" class="form-control" placeholder="Contraseña" required>
                           
                        </div>
                        <div class="form-group">
                         <a href="/CAMPUSVIRTUAL_Historia" class="form-control btn btn-primary submit px-3">Ingresar</a>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Recordar
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                               <a href="#" style="color: #fff">¿Olvidaste la contraseña?</a>
                            </div>
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="aber">
        <p class="footer-copyright text-center">
        <span class="pixova-lite-footer-text-copyright">
        &copy; Copyright 2021. All Rights Reserved  </span>
        </p>
      </footer>
     <style>
        .aber{
        width: 100%;
        background-color: #292825;
        padding: 20px 0;
        text-align: center;
        display: block;
    }
     </style> 
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.9eD6_Mep8S.js"></script><script>eval(mod_pagespeed_T07FyiNNgg);</script>
      <script>eval(mod_pagespeed_zB8NXha7lA);</script>
      <script>eval(mod_pagespeed_xfgCyuItiV);</script>
      <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"684e933d193bf7c6","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.8.1","si":10}'></script>

      <script src="/BT/bootstrap-5.1.0-dist/js/bootstrap.min.js"></script>
      <script src="/BT/bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    </body>
</html>


